#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
  --main-color: #252525;
  --btn-color: #b89ab3;
  --back-color: #f5f3f3;
}

.container {
  font-size: 1.8rem;
  color: var(--btn-color);
  background-color: var(--main-color);
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

button {
  margin: 0.5rem;
  background-color: #272b33;
  border: none;
  border-radius: 10px;
  color: var(--back-color);
  font-size: 3.5rem;
  width: 4rem;
  height: 5rem;
  cursor: pointer;
  transition: background-color 0.3s ease, outline 5s ease;
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--btn-color);
  padding: 2rem;
}
.output {
  font-size: 2rem;
}

.btn-op,
.btn-equal,
.btn-reload {
  color: #b89ab3;
}
button:hover,
button:active {
  background-color: var(--main-color);
  outline: #b89ab3 2px solid;
  transition: all 0.3s;
}
